# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
wp-content/plugins/hello.php

# ignore specific themes
wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
vendor/doctrine/annotations/
vendor/doctrine/cache/
vendor/doctrine/collections/
vendor/doctrine/event-manager/
vendor/doctrine/lexer/
vendor/doctrine/persistence/
vendor/doctrine/reflection/
vendor/paragonie/random_compat/
vendor/psr/cache/
vendor/psr/container/
vendor/psr/event-dispatcher/
vendor/psr/link/
vendor/psr/log/
vendor/symfony/contracts/
vendor/symfony/polyfill-ctype/
vendor/symfony/polyfill-intl-grapheme/
vendor/symfony/polyfill-intl-icu/
vendor/symfony/polyfill-intl-idn/
vendor/symfony/polyfill-intl-normalizer/
vendor/symfony/polyfill-mbstring/
vendor/symfony/polyfill-php72/
vendor/symfony/polyfill-php73/
vendor/symfony/polyfill-php80/
vendor/symfony/polyfill-uuid/
vendor/symfony/symfony/
vendor/symphony/symphony/
vendor/twig/twig/
vendor/valendesigns/option-tree/
