.share-buttons {
    font-size: 0.7rem;
    line-height: 0.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 60px;
    z-index: 2;
    position: relative;
    text-align: center;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.share-buttons li {
    height: auto;
    flex: 0 1 auto;
    width: calc(25% - 1px);
    margin-right: 1px;
}

.share-buttons li:last-child {
    width: 25%;
    margin-right: 0;
}

.share-buttons svg {
    fill: #fff;
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

.share-googleplus svg {
    width: 20px;
    height: 16px;
}

.share-buttons a {
    display: block;
    padding: 12px 12px 9px;
    text-align: center;
}

.share-buttons li:first-child a {
    border-radius: 3px 0 0 3px;
}

.share-buttons li:last-child a {
    border-radius: 0 3px 3px 0;
}

.share-twitter	{
    background: #1da1f2;
}

.share-facebook	{
    background: #3b5998;
}

.share-googleplus	{
    background: #db4437;
}

.share-pinterest	{
    background: #b5071a;
}

/*************************

Styles for the buttons.
@Vivek Kumar Poddar
https://wpvkp.com

*************************/

.social-box {
    display: block;
    margin: -20px 0 40px;
    padding: 0 6rem 0;
}

.social-box:last-of-type {
    margin: 0 0 40px;
}

.social-btn {
    display: block;
    width: 100%;
}

a.col-2.sbtn span {
    display: none;
}

a.col-1.sbtn {
    width: 180px;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    padding: 10px;
    color: #fff;
    margin: 0 0.5% 0 0;
    font-size: 15px;
}

a.col-1.sbtn span {
    margin: 0 0 0 15px;
}

a.col-2.sbtn {
    width: 6%;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    padding: 10px;
    color: #fff;
    margin: 0 0.5% 0 0;
    line-height: 1.825 !important;
    max-width: 50px;
    min-width: 50px;
}

.s-twitter {
	background: #03A9F4;
}
.s-twitter::before {
    font-family: fontawesome;
    content: '\f099';
}
.s-twitter:hover {
    background: #0093d6;
}


.s-facebook {
	background: #3F51B5;
}
.s-facebook::before {
    font-family: fontawesome;
    content: '\f09a';
}
a.col-1.sbtn.s-facebook:hover {
    background: #2f409f;
}



.s-googleplus {
	background: #F44336;
}
.s-googleplus::before {
    font-family: fontawesome;
    content: '\f0d5';
}
.s-googleplus:hover {
    background: #c82c21;
}



.s-whatsapp {
	background: #4CAF50;
}
.s-whatsapp::before {
    font-family: fontawesome;
    content: '\f232';
}
a.col-2.sbtn.s-whatsapp:hover {
    background: #3d9440;
}



.s-linkedin {
	background: #1a7baa;
}
.s-linkedin::before {
    font-family: fontawesome;
    content: '\f0e1';
}
a.col-2.sbtn.s-linkedin:hover {
    background: #136288;
}


.s-pinterest {
	background: #bd081c;
}
.s-pinterest::before {
    font-family: fontawesome;
    content: '\f231';
}
a.col-2.sbtn.s-pinterest:hover {
    background: #a10718;
}


/*.s-buffer {
	background: #ced7df;
}
.s-buffer::before {
    font-family: fontawesome;
    content: '\e804';
}
a.col-2.sbtn.s-buffer:hover {
    background: #c3c5c8;
}*/

/********************************
////// Important
*******************************/

.social-btn a:last-of-type {
    margin: 0;
}


@media only screen and (max-width: 1200px) {
    a.col-1.sbtn {
        width: 180px;
        display: inline-block;
        text-align: center;
        border-radius: 50px;
        padding: 10px;
        color: #fff;
        margin: 0 0.5% 0 0;
        font-size: 15px;
    }
}

@media only screen and (max-width: 768px) {
    a.col-1.sbtn {
        width: 46px;
    }

    a.col-1.sbtn span {
        display: none;
    }
}